{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $width := .Get "width" | default "" -}}
{{- $height := .Get "height" | default "" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $cdn := .Site.Params.imageCDN | default "https://img.weiren.org" -}}

{{- if not (hasPrefix $src "http") -}}
  {{- $year := .Page.Date.Format "2006" -}}
  {{- $slug := .Page.Params.slug | default .Page.File.ContentBaseName -}}
  {{- $src = printf "%s/blog-images/posts/%s/%s/%s" $cdn $year $slug $src -}}
{{- end -}}

<figure>
  <img 
    src="{{ $src }}" 
    alt="{{ $alt }}"
    {{- with $width }} width="{{ . }}"{{ end -}}
    {{- with $height }} height="{{ . }}"{{ end -}}
    loading="lazy"
    decoding="async"
  >
  {{- with $caption }}
  <figcaption>{{ . | safeHTML }}</figcaption>
  {{- end }}
</figure>
